{% extends "base.html" %}

{% block title %}Blog List{% endblock %}

{% block content %}
    <h1>Blog List</h1>
    <table>
        <thead>
            <tr>
                <th>Titel</th>
                <th>Datum</th>
                <th>Aufrufe</th>
                <th>Likes</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <!-- Titel als Link zur Detailansicht -->
                <td>
                    <a href="{% url 'blog_detail' blog.pk %}">
                        {{ blog.title }}
                    </a>
                </td>
                <td>{{ blog.created_date|date:"d.m.Y H:i" }}</td>
                <td>{{ blog.clicks }}</td>
                <td>{{ blog.likes }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'blog_dashboard' %}">Blog Dashboard anzeigen</a>
    <a href="{% url 'blog_create' %}">Add new Blog</a>
{% endblock %}
